@import "vars";

@mixin transition($x...){
  -webkit-transition: $x;
  -moz-transition: $x;
  -ms-transition: $x;
  -o-transition: $x;
  transition: $x;
}

.view {
  background-color: $view-bg;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  padding: $view-padding;
  height: calc(100% - #{$view-padding * 2});
  width: calc(100% - #{$view-padding * 2});
  overflow: hidden;

  .image {
    background-color: $image-bg;
    height: 100%;
    width: 70%;
    margin-left: 0;
    position: relative;
    overflow: hidden;

    &.full {
      width: 100%;
    }

    &.show {
      margin-left: 0;
      @include transition(margin-left 0.7s);
    }

    &.hide {
      margin-left: -100%;
      @include transition(margin-left 0.7s);
    }

    .image-loader {
      color: $font-color-dark;
      padding: 10px 20px;
      position: absolute;
      bottom: 0;
      right: 0;
    }

    & > img {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      object-fit: cover;
    }

    .loadbar {
      background-color: rgba(#ffffff, 0.3);
      position: absolute;
      top: 0;
      left: 0;
      height: 3px;
      @include transition(width 500ms);
    }

    .pause {
      color: #ffffff;
      opacity: 0.5;
      font-size: 1.9rem;
      position: absolute;
      right: 10px;
      top: 10px;
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  .description {
    background-color: $description-bg;
    padding: 20px;
    height: calc(100% - 40px);
    width: calc(30% - #{$view-padding + 40px});
    margin-right: 0;

    &.show {
      margin-right: 0;
      @include transition(margin-right 1s);
    }

    &.hide {
      margin-right: -100%;
      @include transition(margin-right 1s);
    }

    .description-content {
      font-size: 1.2rem;
    }

    .stats {
      font-weight: $font-bold;
      margin-bottom: 5px;
    }
  }
}