@import "vars";

.status {
  text-align: center;
  padding: 10px;
  width: 250px;

  .title {
    margin-top: 0;
  }

  .avatar {
    width: 70px;
    height: 70px;
    margin-bottom: 15px;
    display: inline-block;
  }

  .action, .action:visited  {
    display: block;
    color: $link-color;
    text-decoration: none;

    &:hover {
      color: $link-color-secondary;
    }
  }

  .error {
    color: $font-color-error;
  }
}