@import "vars";

// no support cover

.no-support {
  background-color: #000000;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
}

@media (max-width: $breakpoint-no-support) {
  .no-support {
    display: flex;

    .message {
      font-weight: $font-bold;
      color: $font-color-dark;
    }
  }
}