$font-family: 'Roboto', sans-serif;
$font-light: 300;
$font-bold: 500;
$font-color-primary: #000000;
$font-color-info: #0988CB;
$font-color-dark: #9b9a9a;
$font-color-contrast: #ffffff;
$font-color-error: #ff0000;
$font-small: .8rem;

$link-color: #0D9CE9;
$link-color-secondary: #0988CB;

$navbar-bg: #FAFAFA;
$navbar-bg-secondary: #F4F4F4;
$navbar-heigh: 40px;

$brand-font-size: 1.3rem;
$brand-color:#9C9C9C;

$breakpoint-no-support: 1024px;

$button-bg: #d3d0d0;
$button-bg-hover: #b8b8b8;
$button-disabled-bg: #f6f4f4;
$button-disabled-color: #cecece;

$view-bg: rgba(0,0,0,0.8);
$view-padding: 20px;

$image-bg: #505050;
$description-bg: #ffffff;