@import 'vars';

.navbar {
  align-items: center;
  background-color: $navbar-bg;
  display: flex;
  height: $navbar-heigh;
  justify-content: space-between;
  padding: 0 20px;
}

.navbar-brand {
  color: $brand-color;
  font-weight: $font-light;
  font-size: $brand-font-size;
  padding: 0 10px;
  margin-right: 10px;
  letter-spacing: 0.1rem;
}

.navbar-nav {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: stretch;

  .nav-item {
    background-color: $navbar-bg;
    font-weight: $font-light;
    color: $font-color-primary;
    display: block;
    padding: 5px 15px 0 15px;
    text-decoration: none;

    &:hover {
      background-color: $navbar-bg-secondary;
    }

    &.dropdown {
      & .dropdown-wrapper {
        position: relative;
        padding-top: 5px;
      }

      .dropdown-menu {
        display: none;
        padding: 0;
        text-align: right;
        list-style: none;
        margin: 10px 0 0 0;
        position: absolute;
        right:-15px;

        .nav-item {
          padding: 10px 15px;
        }
      }

      &:hover .dropdown-menu {
        display: block;
      }
    }
  }
}